---
layout: main
---
<article class="page">
	<div class="entry">
		<h3 id="quién-soy">Hola, soy Manuel Jamher</h3>
		<p>llevo algunos años en la industria de TI, Me gusta aprender y perfeccionar mis habilidades, pienso que si todos lo intentamos podemos lograr que la industria del software sea mejor.</p>

		<p>Aquí podras encontrar contenido diverso del día a día de un desarrollador, mas concretamente cosas que me ocurren a mi, todo el contenido podras encontrarlo en GitHub y si te interesa podemos contactarnos por las redes sociales localizados en el pie de pagina.</p>
	</div>
</article>

<div class="posts">
  {% for post in site.posts %}
    <article class="post">

      <h1><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h1>

      <div class="entry">
        {{ post.excerpt }}
      </div>

      <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Read More</a>
    </article>
  {% endfor %}
</div>

{% include archive.html %}