---
layout: main
---
<article class="page">
	<div class="entry">
		<h3 id="quién-soy">Hola, soy Manuel Jamher</h3>
		<p>llevo algunos años en la industria de TI, Me gusta aprender y perfeccionar mis habilidades, pienso que si todos lo intentamos podemos lograr que la industria del software sea mejor.</p>

		<p>Aquí podras encontrar contenido diverso del día a día de un desarrollador, mas concretamente cosas que me ocurren a mi, todo el contenido podras encontrarlo en GitHub y si te interesa podemos contactarnos por las redes sociales localizados en el pie de pagina.</p>
	</div>
</article>

<div class="posts">
  <h2>Últimos posts <small>&nbsp;<a href="{{ site.baseurl }}/blog">Ver todos</a></small></h2>
  <section>
    <div class="one_half_col">
      {% for post in site.posts limit:2%}
        <h3><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title}} </a><br><small>{{ page.date | date_to_string }}</small></h3>
        <p>{{ post.excerpt }}</p>
        <p><a href="{{ site.baseurl }}{{ post.url }}">Seguir leyendo <span>></span></a></p>
      {% endfor %}
  </div>
  </section>
</div>
{% include archive.html %}
