<section class="share-buttons">
	<a href="mailto:?Subject={{ page.title }}&amp;Body=Mira%20esto%20{{ page.url | prepend: site.urlstatic }}">
        <i class="svg-icon-share email"></i>
    </a>
	<a href="http://www.facebook.com/sharer.php?u={{ page.url | prepend: site.urlstatic }}" target="_blank">
        <i class="svg-icon-share facebook"></i>
    </a>
	<a href="http://www.linkedin.com/shareArticle?mini=true&amp;url={{ page.url | prepend: site.urlstatic }}" target="_blank"><i class="svg-icon linkedin"></i>
    </a>
    <a href="https://twitter.com/share?url={{ page.url | prepend: site.urlstatic }}&amp;text=Mira%20esto%20&amp;hashtags=soyjamher,noterepitas" target="_blank">
        <i class="svg-icon-share twitter"></i>
    </a>
	<a href="https://plus.google.com/share?url={{ page.url | prepend: site.urlstatic }}" target="_blank">
        <i class="svg-icon-share googleplus"></i>
    </a>
</section>


