---
layout: default
---
<span>[
  {% for tag in page.tags %}
    {% capture tag_name %}{{ tag }}{% endcapture %}
    <a href="/tag/{{ tag_name }}"><code class="highligher-rouge"><nobr>{{ tag_name }}</nobr></code>&nbsp;</a>
  {% endfor %}
]</span>
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">
  {% include share.html %}
  <header class="artilce_header">
  
    <h1 class="artilce_title" itemprop="name headline">{{ page.title }}</h1>
    <p class="artilce_meta">
      {% assign months = "Enero|Febrero|Marzo|Abril|Mayo|Junio|Julio|Agosto|Septiembre|Octubre|Noviembre|Diciembre" | split: "|" %}
      {% assign m = page.date | date: "%-m" | minus: 1 %}
      {% assign month = months[m] %}
      {% assign days = "Lunes|Martes|Miercoles|Jueves|Viernes|Sabado|Domingo" | split: "|" %}
      {% assign d = page.date | date: "%-a" | minus: 1 %}
      {% assign d_letter = days[a] %}
      {% assign day = page.date | date: "%d" %}
      {% assign year = page.date | date: "%Y" %}

      {% if page.author %} 
      Por <a href="{{ "/about" | prepend: site.baseurl }}"><span itemprop="name">{{ page.author }} - </span></a>
      {% endif %}
      <span class="post_date" >{{ day }} de {{ month }} del {{ year }}</span>
    </p>
  </header>
  <div class="article-content" itemprop="articleBody"> 
    {{ page.content }}    
   
  </div>
  <footer class="article-footer">
    {% include author.html %}

  </footer>
</article>
